<!DOCTYPE html>
<html lang="en" xmlsn:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
  <div th:replace="commons/menu :: menu" />

  <!-- CARDS -->

  <div class="container">
    <div class="row g-5">

      <div class="col-8">
        <h4 th:text="#{noticia.boton.nuevo}" class="mb-3">Nueva Noticia</h4>
        <form class="needs-validation" method="post" th:action="@{/noticias/save}" novalidate>
          <input type="hidden" name="codigo" th:value="${noticia.codigo}">
          <div class="row g-4">
            <div class="col-sm-6">
              <label th:text="#{noticia.titular}" for="titular" class="form-label">Titular</label>
              <input type="text" class="form-control" id="titular" name="titular" placeholder="" th:value="${noticia.titular}" value="" required>
            </div>
            <div class="col-sm-6">
              <label th:text="#{cliente.descripcion}" for="lastName" class="form-label">Descripcion</label>
              <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="" th:value="${cliente.descripcion}" value="" required>
            </div>
          </div>
          </div>

          <hr class="my-4">
            <div class="col-sm-12">
              <div class="btn-group">
                <a th:text="#{noticia.cancelar}" class="btn btn-primary" th:href="@{/noticias/list}" href="#" role="button">Cancelar</a>
                <button th:text="#{noticia.actualizar}" class="btn btn-primary" type="submit">Actualizar</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div th:replace="commons/footer :: footer" class="container" />
</body>

</html>